.megatable.tab-content > .active {
    display: table-row-group !important;
}
.hidden {
    display: none;
}
.switch-lang.active {
    color: black;
    font-weight: bold;
}
.settings {
    justify-content: space-between;
    align-items: center;
}
.settings .hint{
    text-align: right;
}
.links {
    margin-top: 20px;
    font-size: 10px;
}
table tbody td {
    border: 1px solid #eceeef;
    font-size: 12px;
}
table thead td, tbody td:first-child {
    font-size: 14px;
}
ul {
  list-style: none;
}
