body{
    margin: 0;
    padding: 0;
    background: black ;
    color: orange;
}

h4{
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

p{
	margin-left: 15px;
}

.header,.footer{
    border-radius:5px;
    color:orange;
    border-bottom: 2px solid orange;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.main{
    border-radius:5px;
}

.main ul{
    list-style: none;
}

.main ul li{
    display: inline-block;
    margin-right: 20px;
}

.main ul li a{
    text-decoration: none;
    color: #e75230;
    text-transform: uppercase;
    font-weight: bold;
    background: #832c1a;
    padding: 5px 10px;
    border-radius: 3px;
}