body{
    margin: 0;
    padding: 0;
    background: url(img/bg.jpeg) repeat scroll ;
    color: orange;
}

h4{
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

p{
	margin-left: 15px;
}

.header,.footer{
    border-radius:5px;
    color:orange;
    border-bottom: 2px solid orange;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.main{
    border-radius:5px;
}

.main ul{
    list-style: none;
}

.main ul li{
    display: inline-block;
    margin-right: 20px;
}

.main ul li a{
    text-decoration: none;
    color: #e75230;
    text-transform: uppercase;
    font-weight: bold;
    background: #832c1a;
    padding: 5px 10px;
    border-radius: 3px;
}

.range_filter{
    width: 240px;
    margin: 50px auto;
}

.range_controls{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range_controls .scale{
    margin-top: 30px;
    height: 2px;
    background: #d7dcde;
}

.range_controls .bar{
    height: 2px;
    background: red;
}

.range_controls .toggle{
    position: absolute;
    top:  22px;
    left: 30px;
    width:  4px;
    height: 4px;
    border: 8px solid white;
    border-radius: 50%; 
    background: #ababab;
    box-shadow: 0 3px 1px 0 #cfcfcf;
    cursor: pointer;
}

