/*
BLOG
*/

/*-------------------------------------------------------------*/

html, body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

body{
    background-color: #ededed;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: black;
}

a{
    text-decoration: none;
    outline: none;
    color: #7e7e7e;
}

a:hover{
   color: black;
}

.wrap{
    width: 960px;
    margin: 0 auto;
    padding: 0px 31px;
}

/*-------------------------------------------------------------*/
/*header*/

.header_top{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #1A1E27;
    border-bottom: 3px solid #FFF;
}

.header_top:after{
    content: "";
    display: table;
    clear: both;
}

.header_bottom{
 
}

/*-------------------------------------------------------------*/
/*header_top_nav*/

.header_top_navbar{
    float: left;
    margin: 0;
    padding: 0;
}

.header_top_navbar li {
    display: inline-block; 
    padding-right: 12px;
}

.header_top a{
    display: block;
    padding: 25px 0px 24px 0px;
    text-decoration: none;
    color: white;
}

.header_top_navbar li a:hover {
    background: url(img/nav_arrow.png) no-repeat center 58px; 
}


.header_top_rss{
    display: inline-block;
    position: relative;
    float: right; 
    margin-right: 40px;
}

.header_top_rss a{
    padding-right: 12px;
}

.header_top_rss a:after{
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    top: 24px;
    right: -20px;
    background: url(img/rss_button.png) no-repeat;
}


/*-------------------------------------------------------------*/
/*header_top_search*/
.search{
    position: relative;
    float:right;
    height: 24px;
    width: 169px; 
    margin-top: 20px;
    margin-bottom: 22px;
    margin-right: 31px;
    margin-left: 28px;
    background: url(img/search_bg.png) no-repeat ; 
}


.search input[type="text"]{
    outline: none;
    display: inline-block;
    height: 24px;
    width: 130px; 
    padding-left: 8px;
    border: none;
    background: none;
} 

.search input[type="submit"]{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

.header_title{
    height: 42px;
    width: 422px;
    margin-top: 58px;
    margin-left: 71px;
    margin-bottom: 40px;
}

.header_title_discrition{
    float: right;
    width: 229px;
    margin: 0;
    /*padding-left: 40px;*/
    color: #646464;
    font: italic 15px/17px Georgia,serif;
}

.slider{
    position: relative;
    margin: 0 auto;
    width: 896px;
    height: 239px;
    background: #1a1e27;
}

.slide{
    width: 576px;
    background: url(img/slide1) no-repeat 0 50%;
}

.slider:after{
    content: "";
    display: table;
    clear: both;
}

.slider_controls{
    float: right;
    color: white;
    margin: 0;
    width: 320px;
    margin: 0 15px;
    
}

.slider_container{
    /*width: 600px; */ 
}

.slider_title{
    display: inline-block;
    padding: 20px 14px;
    border-bottom: 1px solid #393939;
}

.slider_title h1 {
    font-size: 30px;
    margin: 10px 0;
}

.slider_title p {
    margin: 0;
}

.slider_controls_item{
    display: inline-block;
    margin: 20px 14px; 
    background: #d0d0d0;
    border-radius: 1px;
     opacity: 0.5;
}

.slider_controls_item img{
    width: 70px;
    height: 60px;
}

.slider_controls_item:nth-child(3){
    margin: 20px 20px;
}

.slider_controls .active{
    opacity: 1;
}

/*------------------------------------------------------------------------------*/

.main{
    margin-top: 45px;
}

.main:after{
    content: "";
    display: table;
    clear: both;
}

.main .title span{
    padding: 1px 6px;
    background: #1a1e27;
    color: white;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: bold;   
}

.main_posts{
    float: left;
    width: 550px;
}

.post{
    display: inline-block;
    margin-bottom: 40px;
}

.post h3{
    margin: 0;
    margin-top: 25px;
    color: #1A1E27;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
}

.post_main{
    display: inline-block;
}

.post_main img{
    float: left;
    height: 142px;
    width: 144px;
    border: 3px solid #FFF;
}

.post_main p{
    float: right;
    margin: 0;
    width: 390px; 
    margin-bottom: 27px;
}

.meta{
    margin-right: 18px;
}

.meta a {
    color: #646464;
    font: italic 14px/20px Georgia,serif;
    text-decoration: none;
}

.meta a:hover{
   color: black;
}

.post_main .meta{
    width: 211px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.post .btn{
    display:  block;
    float: right;
    padding: 7px 11px;
    color: white;
    background: #646464;
    text-transform:uppercase;
    font-weight: bold;
    cursor:pointer;
    margin-top: -15px;
}

.read_more{
    display: inline-block;
    width: 390px;
    padding-top: 9px;
    margin-left: 9px;
    margin-bottom: 0px;
    border-top: 1px solid #BDBDBD;
}

/*--------------------------------------------------------------------------------------------------------*/
.sidebar{
    float: right;
    width: 362px;
}

.section1:after{
    content: "";
    display: table;
    clear: both;
}

.section1 .image{
    float: left;
    border: 3px solid #FFF;
    margin-top: 24px;
    height: 94px;
    width: 94px;
    margin-bottom: 45px;
}

.sidebar_text{
    float: left;
    width: 240px;
    margin-top: 24px;
    margin-left: 8px;
}

.sidebar_text h3{
    color: #646464;
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.sidebar_text em{
    color: #646464;
    font: italic 15px Georgia,serif;
    
}

.sidebar_text p{
    padding: 0px;
    padding-top: 16px;
    margin: 0px;
}

.section2:after{
    content: "";
    display: table;
    clear: both;
}

.section2 .image{
    float: left;
    border: 3px solid #FFF;
    height: 156px;
    width: 156px;
    margin-top: 24px;
    margin-right: 16px;
    margin-bottom: 46px;
}

.section3:after{
    content: "";
    display: table;
    clear: both;
}

.section3 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.section3 ul li{
    position: relative;
    margin-top: 27px;
    margin-left: 20px;
}

.section3 ul li a:before{
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    top: 3px;
    left: -20px;
    background: url(img/sidebar_arrow.png) no-repeat;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.footer_top{
 background: #1a1e27;
 color: white;
}

.footer_top:after{
    content: "";
    display: table;
    clear: both;
}


.footer_top_block{
    float: left;
    width: 254px;
    margin-top: 27px;
    margin-bottom: 30px;
    margin-right: 60px;
}

.footer_top_block h3{
    padding-bottom: 21px;
    margin-bottom: 18px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #393939;
    line-height: 18px;
}

.footer_top_block ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_top_block li a{
    color: white;
}

.footer_top_block li a:hover{
   color: #767676;
}

.footer_top_block img{
    margin: 0px;
    margin-right: 10px;
}

.footer_botom{
    background: white;
    color: black;
}

.footer_botom ul{
    padding: 0px;
    margin-top: 27px 0;
    float: left;
    list-style: none;
    color: black;
}

.footer_botom ul li{
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid black;
}

.footer_botom ul li:first-child{
    display: inline-block;
    padding: 0;
    padding-right: 5px;
    border-left: none;
}

.footer_botom ul li a{
    color: black;
}

.footer_botom ul li a:hover{
    color: #6c6c6c;
}


.footer_botom p{
    float: right;
}