SHOUSE*/

html, body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

body{
	font-family: "Grumpy", sans-serif;
	background: #f2f2f2;
}

a{
	text-decoration: none;
}

.center_wraper{
	width: 60.625rem;
	margin: 0 auto;
	padding: 0;
}

/*---HEADER---*/

header{
	margin-top: 2.875rem;
}

header:after{
	content: "";
	display: table;
	clear: both;
}

header img{
	vertical-align: middle;
}

.contacts{
	display: inline-block;
	float: right;
}

.contacts a{
	display: inline-block;
	font-size: 0.75rem;
	color: #4d4d4d;
	text-decoration: none;
}

.contacts a:nth-child(1){
	padding-left: 1.5rem;
	background: url("img/phone.png") no-repeat 0 50%;
}

.contacts a:nth-child(2){
	padding-left: 1.5rem;
	margin-left: 1.5rem;
	background: url("img/mail.png") no-repeat 0 50%;
}

.login{
	display: inline-block;
	margin-top: 1rem;
	padding: 0.3125rem;	
	background: #f1f1f1;
	border: 1px solid #f9f9f9;
	border-radius: 3px;
}

.login a:nth-child(1){
	padding: 0.6rem 1.5rem;	
	height: 16px;
	width: 17px;
	background: url("img/cart.png") no-repeat 40% 50%;
	border-right: 1px solid #e0e0e0;
	vertical-align: middle;
}


.login a:nth-child(2){	
	margin: 0rem 1.25rem;
	padding: 0;
	font-size: 0.875rem;
	color: black;
	font-weight: bold;
	text-decoration: underline;
	background: none;
}

.login a:nth-child(3){	
	margin: 0.5rem 0;
}

a.btn{
	display: inline-block;
	padding: 0.875rem 1.875rem ;
	padding-right: 1.25rem;
	font-size: 1.1875rem;
	text-decoration: none;
	text-align: center;
	color: white;
	background: #ed2c23;
	border-radius: 4px;
}

/*---NAV---*/

nav{
	margin-top: 1.875rem;
	margin-bottom: -1.25rem;
	padding: 1rem ;
	background-color: #f7f7f7;
	border: #e6e6eb;
}

nav a{
	padding: 0.625rem 1.5rem;
	/*font-size: 1.5rem;*/
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #444444;
	border-right: 2px solid #cfc8bc;
}

nav a:nth-child(5){
	border-right: none;
}

nav input[type="text"]{
    outline: none;
    display: inline-block;
    height: 24px;
    width: 200px; 
    padding-left: 25px;
    background: url("img/search.png") no-repeat 5px 50% #f5f5f5;
    border: 1px solid #cfc8bc;
    border-radius: 50px;
} 

/*---SLIDER---*/

.slider{
	margin: 0 auto;
	position: relative;
	z-index: -2;
	height: 42.25rem;
	width: 100rem;
	background: #9ccd8d;
}

.slider:after{
	content: "";
	position: absolute;
	top: 44%;
	left: 62px;
	width: 87px;
	height: 87px;
	background: url(img/slider_left.png) no-repeat;
}

.slider:before{
	content: "";
	position: absolute;
	top: 44%;
	right: 62px;
	width: 87px;
	height: 87px;
	background: url(img/slider_right.png) no-repeat;
}

.slider_item{
	position: absolute;
	left: 20rem;
	z-index: -1;
}


/*---CATEGORIES---*/

.categories{
	margin: 0 auto;
	margin-top: -3.75rem;
}

.categories_item{
	display: inline-block;
	width: 20rem;
	text-align: center;
	background: #fdfefd;
	border-radius: 2px;
}

.categories_item h2{
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 2.52875rem;
	font-weight: normal;
	color: black;
}

.categories_item h3{
	margin: 0;
	padding: 0;
	font-size: 1.599375rem;
	color: #f2262c;
}

.categories_item p{
	position: relative;
	font-size: 0.948125rem;
	margin: 0;
	margin-bottom: 2.125rem;
	color: black;
}

.image_wraper{
	position: relative;
	display: inline-block;
	width: 173px;
	height: 173px;
	border-radius: 50%;
	overflow: hidden;
}

.categories a:nth-child(1) img{
	position: absolute;
	left: -10px;
	top: -80px;
}

.categories a:nth-child(2) img{
	position: absolute;
	left: -235px;
	top: 0px;
}

.categories a:nth-child(3) img{
	position: absolute;
	left: -10px;
	top: -18px;
}


.categories_item p:after{
	content: "";
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -7px;
	width: 15px;
	height: 12px;
	background: url("img/list.png");
}

/*---PRODUCTS---*/

.products{
	margin-top: 1.8125rem;
	padding: 1.875rem 0.8125rem;
	text-align: center;
	background: #ffffff;
	border-radius: 3px;
}

.products:after{
	content: "";
	display: table;
	clear: both;
}

.products_title:after{
	content: "";
	display: table;
	clear: both;
}

.products_title span{
	float: left;
	margin-bottom: 1rem;
	font-size: 1.490625rem;
	font-weight: bold;

}

.products_title .red_title{
	margin-left: 0.5625rem;
	color: #f2262c;
}

.products_title a{
	margin-top: 0.5rem;
	padding-left: 12px;
	float: right;
	font-family: Arial, sans-serif;
	font-size: 0.875rem;
	font-style: italic;
	text-decoration: none;
	color: #4c4b4b;
	background: url("img/arrow.png") no-repeat 0 60%;
}


.product{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		     box-sizin: border-box;
	display: inline-block;
	margin: 0;
	margin-bottom: 0.75rem;
	padding: 1rem;
	max-height: 20.625rem;
	width: 14.375rem;
	text-align: center;
	border: 1px solid #eaeaea;
	border-radius: 3px;	
}

.product img{
	width: 12.375rem;
	border-bottom: 1px solid #e1e0df;
}

.product p{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 2.5rem;
	max-width: 9.375rem;
	width: 9.375rem;
}

.get_btn{
	display: inline-block;
	padding-left: 0.8rem;
	padding-top: 0.2rem;
	width: 11rem;
	height: 2rem;
	text-align: left;
	background: url("img/bg_btn.png") no-repeat;
}


.get_btn span{
	font-size: 0.6875rem;
	font-weight: bold;
	color: white;
}

/*.get_btn a{
	display: inline-block;
	padding: 0.4rem 0.5rem;
	font-size: 0.875rem;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}*/

.get_btn a{
	display: inline-block;
	width: 6.8125rem;
	height: 1.50rem;
	margin-left: 0.7rem;
	vertical-align: middle;
}

.product:hover{
	/*border: 6px solid #fe3026;*/
	box-shadow: inset  0 0 0 6px red;

}

/*---FOOTER---*/

footer{
	margin-top: 5.9375rem;
	padding: 2.5rem 0;
	/*width:  100%;*/
	color: white;
	background: #f2262c;
}

footer span{
	font-size: 1.766875rem;
}

footer:after{
	content: "";
	display: table;
	clear: both;
}

.footer_nav{
	display: inline-block;
	margin: 0;
	margin-left: 0.7rem;
	padding: 0;
	list-style: none;
}

.footer_nav li{
	display: inline-block;
	border-right: 1px solid white;
}

.footer_nav li a{
	padding: 0 0.625rem;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	color: white;

}

.footer_nav li:last-child{
	border-right: none;
}

.soc{
	display: inline-block;
	float: right;	
	margin: 0;
	padding: 0;
	list-style: none;
}

.soc li{
	display: inline-block;
	border-radius: 2px;
}

.soc li a{
	display: block;
	height: 30px;
	width: 30px;
}

.soc li:nth-child(1){
	background: url(img/p.png) no-repeat 50% 50% white;
}

.soc li:nth-child(2){
	background: url(img/twiter.png) no-repeat 50% 50% white;
}

.soc li:nth-child(3){
	background: url(img/facebook.png) no-repeat 50% 50% white;	
}

/*---CATALOF---*/
/*---FILTER---*/

.filter{
	position: relative;
	margin-top: 4.125rem;
	padding: 2.5rem 1.5625rem;
	background: #fdfefd;
}

.filter:before{
	content: "FILTER";
	position: absolute;
	display: inline-block;
	padding: 0.4rem;
	width: 5.875rem;
	/*height: 1.875rem;*/
	top: -1.9rem;
	font-size: 1rem;
	color: white;
	text-align: center;
	background: #2a2929;
}

table{
	display: inline-block;
	margin-right: 2.75rem;
	text-align: right;
	border-collapse: collapse;
	vertical-align: top;
}

table a{
	text-decoration: none;
	color: #5c4344;
}

th{
	font-size: 1.2rem;
	padding-bottom: 1rem;
}

td:nth-child(1){
	padding-right: 1.5625rem;
	border-right: 1px solid #edecec;
}

td:nth-child(2){
	padding-left: 1.5625rem;
}

.filter .categories{
	display: inline-block;
	margin: 0;
}

.filter  .categories_item{
	margin-right: 2.5rem;
	width: 6rem;
	border-radius: none;
}

.filter  .categories_item h2{
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.485rem;
}

.filter .categories_item h3{
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

.filter .categories_item p{
	font-size: 0.5rem;
	margin: 0;
	margin-bottom: 2.125rem;
}

.filter .image_wraper{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.filter .categories a:nth-child(1) img{
	position: absolute;
	left: -10px;
	top: -80px;
}

.filter .categories a:nth-child(2) img{
	position: absolute;
	left: -235px;
	top: 0px;
}

.filter .categories a:nth-child(3) img{
	position: absolute;
	left: -10px;
	top: -18px;
}


.filter .categories_item p:after{
	content: "";
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -7px;
	width: 15px;
	height: 12px;
	background: url("img/list.png");
}

.filter .color_range{
	display: inline-block;
	/*width: 14rem;*/
	vertical-align: top;
}

.filter .color_range_title{
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.filter input[name="colorpicker"]{
	margin: 0;
	padding: 0;
	display: none;	
}

label span{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
	margin: 0;
	padding: 0;
	height: 1.25rem;
	width: 1.25rem;
	line-height: 0;
	vertical-align: top;
}


label[for="color1"] > span {float: left; background: #e82026;}
label[for="color2"] > span {float: left; background: #f9a058;}
label[for="color3"] > span {float: left; background: #58a8f9;}
label[for="color4"] > span {float: left; background: #dbe47b;}
label[for="color5"] > span {float: left; background: #610b0e;}
label[for="color6"] > span {float: left; background: #781c70;}
label[for="color7"] > span {float: left; background: #1b334c;}
label[for="color8"] > span {float: left; background: #517737;}
label[for="color9"] > span {float: left; background: #7520e8;}
label[for="color10"] > span {float: left; background: #4c3d31;}
label[for="color11"] > span {float: left; background: #060606;}
label[for="color12"] > span {float: left; background: #1a6a0b;}
label[for="color13"] > span {float: left; background: #a0629f;}
label[for="color14"] > span {float: left; background: #074a74;}
label[for="color15"] > span {float: left; background: #beadad;}
label[for="color16"] > span {float: left; background: #f65812;}
label[for="color17"] > span {float: left; background: #c4da0f;}
label[for="color18"] > span {float: left; background: #377377;}
label[for="color19"] > span {float: left; background: #bd8b7a;}




.product_d{
	margin-top: 2.5rem;
}

.product_d:after{
	content: "";
	display: table;
	clear: both;
}

.product_d  .images_block{
	display: inline-block;
	float: left;
}

.product_d .main_image{
	display: inline-block;
	margin-bottom: 0.3125rem;
	padding: 1.25rem;
	background: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}

.product_d .main_image img{
	margin: 0;
	padding: 0;
	width: 25.8125rem;

}

.product_d .preview{
	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	margin-bottom: 3.125rem;
	padding: 0;
	white-space: nowrap;
}

.product_d .preview_item{
	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0.5rem;
	background: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}

.product_d .preview_item img{
	max-height: 7.5rem;
	width: 8.17rem;
}

.product_d .preview_item:hover{
	box-shadow: 0px 0px 0px 0.5rem red inset;
}

.product_d .price_block{
	float: right;
	width: 28.125rem;
	text-align: right;
}

.product_d .price_block:after{
	content: "";
	display: table;
	clear: both;
}

.product_d #reviewstars{
	display: inline-block;
	float: left;
}

.product_d .price{
	position: relative;
	display: inline-block;
	width: 20rem;
	font-size: 4rem;
	color: #333333;
	text-align: center;
	background: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}

.product_d .old_price{
	position: absolute;
	right: 0;
	top: -2.2rem;	
	width: 8.4375rem;
	font-size: 1.75rem;
	text-decoration: line-through;
	color: #fcecec;
	background: #e71f25;
	border-radius: 2px;
}

.product_d .price_text{
	margin-top: 1rem;
	font-family: Arial, sans-serif;
	font-size: 0.8125rem;
	font-weight: lighter;
}

.product_d .shipping{
	
}

.product_d .price_block a{
	display: block;
	margin: 1rem 0;
}

.product_discription{

}

.product_discription ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.discription_menu {

}

.product_discription .discription_menu span{
	display: inline-block;
	padding: 1.25rem 1.5625rem;
	font-weight: bold;
	text-transform:  uppercase;
	color: black;
	background: #ffffff;
	cursor: pointer;
}

.product_discription span.discription_menu_active{
	color: #ffffff;
	background: #ee2d23;
}

.product_discription .discription_text{
	padding: 0 1.625rem;
	padding-top: 2.5rem;
	padding-bottom: 4.375rem;
	background: #ffffff;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}

.product_discription .discription_text li{
	margin: 0.5rem 0;
	font-size: 0.75rem;
	font-weight: bold;
	text-transform:  none;
	color: #898989;	
}

.shipping{
	padding: 1rem 0;
	padding-left: 2.5rem;
	background: url(img/cart2.png) no-repeat 0 50%;
}