

html, body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

body{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 30px;
    background: #ffffff;
}

.center_wraper{
	width: 880px;
	margin: 0px auto;
	padding: 0px 10px;
}

.center_wraper:after{
	content: "";
	display: table;
	clear: both;
}

a{
	color: black;
    text-decoration: none;
}

h1{
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin: 0;
}

h2{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

p{
	margin-top: 13px;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	white-space: normal;
	font-weight: 200;
}

.btn{
	display: inline-block;
	width: 140px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color:  #ffffff;
	background: #fb565a;
	border-radius: 2px;
	cursor: pointer;
}

.btn:hover{
	background: #d6494d;
}


/*----HEADER----------------------------------------------*/

.header{
	margin: 0;
	padding: 0;
	background: #eeeeee;	

}

.header_navbar{
	padding-top: 54px;
	background: url("img/logo.png") no-repeat scroll 0 27px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.header_navbar:after{
	content: "";
	display: table;
	clear: both;
}

.header_navbar ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header_navbar ul li{
	display: inline-block;
	margin-right: 44px;
}

.header_navbar ul li:last-child{
	margin-right: 67px;
}

.header_navbar ul .active{
	border-bottom: 2px solid red;
}

.account_menu{
	display: inline-block;
	float: right;
	padding-left: 26px;
	background: url(img/cart.png) no-repeat scroll 0 7px;
}


/*----SLIDER-------------------------------------------------------------------------*/

.container {
  position: relative;
  height: 350px;
  width: 880px;
  margin: 0 auto;
}

.container > input { display: none }

.slider, .img {
  width: inherit;
  height: inherit;
}

.slider {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
}

.img{
	position: absolute;
}

.img1{
	display: none;
	background: url(img/bg_slide1.png);	
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.img2{
	display: none;
	background: url(img/bg_slide2.png);	
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.img3{
	display: none;
	background: url(img/bg_slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;	
}

#slide1:checked ~ .slider .img1{
  	display: block;
  	animation:  scroll_slide_prev 0.6s;
}

#slide2:checked ~ .slider .img2{
  	display: block;
  	animation:  scroll_slide_next 0.6s;
}

#slide3:checked ~ .slider .img3{
  	display: block;
  	animation:  scroll_slide_next 0.6s;
}

.controls {
  	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 10px;
	text-align: center;
	z-index: 100;
}

.controls label {
	display: inline-block;
    width: 4px;
	height: 4px;
	margin: 0px 3px;
	background: #ffffff;
	border: 3px solid #ffffff;
	vertical-align: top;
	cursor: pointer;
	border-radius: 50%;
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3){
  background: red;
}

.slide_text{
	width: 480px;
	padding: 60px 0;
}

.slide_text .btn{
	width: 240px;
	margin-top: 33px;
}


@keyframes scroll_slide_next{
	0% { transform: translateX(-2000px);}
	70% { transform: translateX(30px);}
	90% { transform: translateX(-10px);}
	100% { transform: translateX(0px);}
}

@keyframes scroll_slide_prev{
	0% { transform: translateX(2000px);}
	70% { transform: translateX(-30px);}
	90% { transform: translateX(10px);}
	100% { transform: translateX(0px);}
}

/*----SERVICES-------------------------------------------------------------------------*/

.services{
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 80px;
	white-space: nowrap;
}

.services .block{
	display: inline-block;
	margin-top: 80px;
	width: 240px;
}

.services .block:nth-child(2){
	margin: 0 80px;
}

.services .block:nth-child(2) .btn{
	background: #00ca74;
}

.services .block:nth-child(2) .btn:hover{
	background: #01a25e;
}

.services .block:nth-child(3) .btn{
	background: #efc84a;
}

.services .block:nth-child(3) .btn:hover{
	background: #d6ae2c;
}


/*----FEATURES---------------------------------------------------------------------------*/

.features{
	width: 100%;
	padding-bottom: 74px;
	border-bottom: 2px solid #eeeeee;
}

.features:after{
	content: "";
	display: table;
	clear: both;
}

.features_text{
	display: inline-block;
	margin-top: 80px;
}

.features_text ul{
	list-style: none;
	padding: 0;
}

.features_text ul li{
	position: relative;
	padding-left: 37px;
}

.features_text ul li:before{
	content: "";
	position: absolute;
	width: 25px;
	top: 9px;
	left: 0px;
	border-bottom: 2px solid #fb565a;
}

.features_logo{
	float: right;
	display: inline-block;
	margin-top: 80px;
}

/*----SITES-------------------------------------------------------------------------*/

.sites{
	padding-top: 43px;
	padding-bottom: 36px;
	border-bottom: 2px solid #eeeeee;
	white-space: nowrap;
}

.sites_logo{
	display: inline-block;
	width: 240px;
}

.sites_logo img{
	padding: 0 21px;
	opacity: 0.4;
}

.sites_logo img:hover{
	opacity: 1;
}

.sites_logo:nth-child(2){
	padding: 0 80px;
}

/*----SHOP--------------------------------------------------------------------------*/

.shop{
	margin: 80px 0px;
}

.shop:after{
	content: "";
	display: table;
	clear: both;
}

.shop_left h2{
	margin: 0;
}

.shop_left{
	float: left;
}

.shop_left ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop_left ul li{
	position: relative;
}


/*----Radio--------------------------------------------------------------------------*/

.rb li {
    position: relative;
    list-style: none;
    padding-bottom: 15px;
    color: #283136;
    font-weight: 300;
    cursor: pointer;
}

.rb{
	padding: 0;
	margin: 0;
}

.rb p{
	display: inline-block;
}

.rb input[type="radio"] {
  display: none;
}


.rb input[type="radio"] + label > span {
  position: relative;
  display: inline-block;
  margin-right: 11px; 
  width: 18px;
  height: 18px;
  border: 4px solid #d7dcde;
  border-radius: 18px;
  vertical-align: middle;
  cursor: pointer;
}


.rb input[type="radio"]:checked + label > span span {
	position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 5px;
    border-radius: 8px;
    border: none;
    background: #d7dcde;
}

/*----Check--------------------------------------------------------------------------*/

.cb li {
    position: relative;
    list-style: none;
    padding-bottom: 15px;
    color: #283136;
    font-weight: 300;
    cursor: pointer;
}

.cb{
	padding: 0;
	margin: 0;
}

.cb p{
	display: inline-block;
}

.cb input[type="checkbox"] {
  display: none;
}


.cb input[type="checkbox"] + label > span {
  position: relative;
  display: inline-block;
  margin-right: 11px; 
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background: #d7dcde;
  cursor: pointer;
  vertical-align: middle;
}

.cb input[type="checkbox"]:checked + label > span span {
	position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 5px;
    color: black;
    background: red;
}

/*----Shop--------------------------------------------------------------------------*/

.shop_right{
	float: right;
	width: 560px;
}

.shop_right:after{
	content: "";
	display: table;
	clear: both;;
}

.shop_right ul{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.shop_right ul li{
	display: inline-block;
	margin-right: 40px;
}

.goods{
	position: relative;
	display: inline-block;
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	width: 240px;
	background: url(img/img_frame.png) no-repeat scroll;
}

.goods img{

	margin-top: 30px;
	width: 240px;
	height: 240px;
	background: #fb565a;

}

.goods_price{
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 20px;
	width: 200px;
	text-align: center;
	background: #ffffff;
}

.goods_price:hover{
	opacity: 1;
}

.goods_price p{
	color: black;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.goods_price .btn{
	margin: 30px 0;
}

.goods_price{
	display: ;
}

.goods:nth-child(odd){
	float: right;
}

.nav_btns{
}

.nav_btn{
	display: inline-block;
	padding: 10px 13px;
	margin: 0;
	margin-right: 10px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background: #eeeeee;
	border: 2px solid #eeeeee;
	border-radius: 2px;
	cursor: pointer;
}

.nav_btns .active{
	background: #ffffff;
}


.range_filter{
    width: 240px;
    margin: 50px 0;
    float: left;
}

.range_controls{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range_controls .scale{
    margin-top: 30px;
    height: 2px;
    background: #d7dcde;
}

.range_controls .bar{
    height: 2px;
    background: red;
}

.range_controls .toggle{
    position: absolute;
    top:  22px;
    left: 30px;
    width:  4px;
    height: 4px;
    border: 8px solid white;
    border-radius: 50%; 
    background: #ababab;
    box-shadow: 0 3px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range_controls .min_toggle{
	left: 30px;
}

.range_controls .max_toggle{
	left: 145px;
}


.prise_controls input{
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;

	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300px;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
	white-space: nowrap;
}

.prise_controls .min_price{
	margin-right: 18px;
}

/*----MAP--------------------------------------------------------------------------*/

.map{
	position: relative;
	margin: 0 auto;
	height: 416px;
	background: url(img/map.png) no-repeat scroll;
}

.contacts{
	display: inline-block;
	margin-top: 88px;
	padding: 33px 20px;
	background: #ffffff;
}

.contacts h2{
	margin: 0;
	font-size: 16px;
	line-height: 30px;
}

.contacts .btn{
	width: 195px;
}

input[type="checkbox"]{ 
	display: none ;
}

.popup{
	display: none;
	position: absolute;
	top: 15px;
	left: 315px;
	padding: 50px 80px; 
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popup p{
	display: inline-block;
	color: black;
}

.popup p:first-child{
	margin-right: 194px;
}

.popup input[type="text"]{
	width: 220px;
	padding: 11px 14px;
	font-size: 12px;
	line-height: 18px;
	color: black;
	border: 2px solid #d7dcde;
	border-radius: 4px;
}

.popup form{
	display: inline-block;
	width: 550px;
}

.popup input[name="login"]{
	margin-right: 20px;
}

.popup input[name="send"]{
	margin-bottom: 48px;
}

.popup input[name="send"]{
	width: 500px;
	height: 110px;
	margin-bottom: 48px;
}

.popup input[type="submit"]{
	margin-right: 20px;
	border: none;
	display: inline-block;
	width: 140px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color:  #ffffff;
	background: #fb565a;
	border-radius: 2px;
	cursor: pointer;
}

.popup .btn:last-child{
	border: none;
	color:  black;
	background: #f1f1f1;
}

#sendus:checked ~ .popup{
  	display: block;
}


/*----FOOTER--------------------------------------------------------------------------*/

.footer:after{
	content: "";
	display: table;
	clear: both;
}

.footer ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 77px;
	margin-bottom: 77px;
	list-style: none;
}

.footer ul li{
	display: inline-block;
	margin-right: 27px;
	opacity: 0.2;
}

.footer ul li:hover{
	opacity: 1;
}

.footer_text{
	display: inline-block;
}

