

html, body{
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

body{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 30px;
    background: #ffffff;
}

.center_wraper{
	width: 880px;
	margin: 0px auto;
	padding: 0px 10px;
}

.center_wraper:after{
	content: "";
	display: table;
	clear: both;
}

a{
	color: black;
    text-decoration: none;
}

h1{
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin: 0;
}

h2{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

p{
	margin-top: 13px;
	font-size: 16px;
	line-height: 22px;
	color: #b1b3b4;
	white-space: normal;
	font-weight: 300;
}

.btn{
	display: inline-block;
	width: 140px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color:  #ffffff;
	background: #fb565a;
	border-radius: 2px;
}

.btn:hover{
	background: #d6494d;
}


/*----HEADER----------------------------------------------*/

.header{
	margin: 0;
	padding: 0;
	background: #eeeeee;	
}

.header_navbar{
	padding-top: 54px;
	background: url("img/logo.png") no-repeat scroll 0 27px;
	text-transform: uppercase;
	font-weight: bold;
}

.header_navbar:after{
	content: "";
	display: table;
	clear: both;
}

.header_navbar ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header_navbar ul li{
	display: inline-block;
	margin-right: 44px;
}

.header_navbar ul li:last-child{
	margin-right: 67px;
}

.header_navbar ul .active{
	border-bottom: 2px solid red;
}

.account_menu{
	display: inline-block;
	float: right;
	padding-left: 26px;
	background: url(img/cart.png) no-repeat scroll 0 7px;
}


/*----SLIDER-------------------------------------------------------------------------*/

.slider{
	position: relative;
	margin: 56px 0;
	width: 100%;
	height: 352px;
}

.slider_controls{
	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 10px;
	text-align: center;
	z-index: 100; 
}

.slider_controls i{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.slider_controls .active{
	background: #c1c1c1;
}

.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.slide:nth-child(1){
	/*display: none;*/
	background: url(img/bg_slide1.png);	
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.slide:nth-child(2){
	display: none;
	background: url(img/bg_slide2.png);	
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.slide:nth-child(3){
	display: none;
	background: url(img/bg_slide3.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;	
}

.slide_text{
	width: 480px;
	padding: 60px 0;
}

.slide_text .btn{
	width: 240px;
	margin-top: 33px;
}

/*----SERVICES-------------------------------------------------------------------------*/

.services{
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 80px;
	white-space: nowrap;
}

.services .block{
	display: inline-block;
	margin-top: 80px;
	width: 240px;
}

.services .block:nth-child(2){
	margin: 0 80px;
}

.services .block:nth-child(2) .btn{
	background: #00ca74;
}

.services .block:nth-child(2) .btn:hover{
	background: #01a25e;
}

.services .block:nth-child(3) .btn{
	background: #efc84a;
}

.services .block:nth-child(3) .btn:hover{
	background: #d6ae2c;
}


/*----FEATURES---------------------------------------------------------------------------*/

.features{
	width: 100%;
	padding-bottom: 74px;
	border-bottom: 2px solid #eeeeee;
}

.features:after{
	content: "";
	display: table;
	clear: both;
}

.features_text{
	display: inline-block;
	margin-top: 80px;
}

.features_text ul{
	list-style: none;
	padding: 0;
}

.features_text ul li{
	position: relative;
	padding-left: 37px;
}

.features_text ul li:before{
	content: "";
	position: absolute;
	width: 25px;
	top: 9px;
	left: 0px;
	border-bottom: 2px solid #fb565a;
}

.features_logo{
	float: right;
	display: inline-block;
	margin-top: 80px;
}

/*----SITES-------------------------------------------------------------------------*/

.sites{
	padding-top: 43px;
	padding-bottom: 36px;
	border-bottom: 2px solid #eeeeee;
	white-space: nowrap;
}

.sites_logo{
	display: inline-block;
	width: 240px;
}

.sites_logo img{
	padding: 0 21px;
	opacity: 0.4;
}

.sites_logo img:hover{
	opacity: 1;
}

.sites_logo:nth-child(2){
	padding: 0 80px;
}

/*----SHOP--------------------------------------------------------------------------*/

.shop{
	margin: 80px 0px;
}

.shop:after{
	content: "";
	display: table;
	clear: both;
}

.shop_left h2{
	margin: 0;
}

.shop_left{
	float: left;
}

.shop_left ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop_left ul li{
	padding-left: 33px;
	position: relative;
}

.cb li{
	background: url(img/cb.png) no-repeat scroll 0 1px;
}

.rb li{
	background: url(img/rb.png) no-repeat scroll 0 1px;
}

.shop_right{
	float: right;
	width: 560px;
}

.shop_right:after{
	content: "";
	display: table;
	clear: both;;
}

.shop_right ul{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.shop_right ul li{
	display: inline-block;
	margin-right: 40px;
}

.goods{
	position: relative;
	display: inline-block;
	margin: 0;
	margin-bottom: 80px;
	padding: 0;
	width: 240px;
	background: url(img/img_frame.png) no-repeat scroll;
}

.goods img{

	margin-top: 30px;
	width: 240px;
	height: 240px;
	background: #fb565a;

}

.goods_price{
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 20px;
	width: 200px;
	text-align: center;
	background: #ffffff;
}

.goods_price:hover{
	opacity: 1;
}

.goods_price p{
	color: black;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}

.goods_price .btn{
	margin: 30px 0;
}

.goods_price{
	display: ;
}

.goods:nth-child(odd){
	float: right;
}

.nav_btns{
}

.nav_btn{
	display: inline-block;
	padding: 10px 13px;
	margin: 0;
	margin-right: 10px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background: #eeeeee;
	border: 2px solid #eeeeee;
	border-radius: 2px;
	cursor: pointer;
}

.nav_btns .active{
	background: #ffffff;
}


.range_filter{
    width: 240px;
    margin: 50px 0;
    float: left;
}

.range_controls{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range_controls .scale{
    margin-top: 30px;
    height: 2px;
    background: #d7dcde;
}

.range_controls .bar{
    height: 2px;
    background: red;
}

.range_controls .toggle{
    position: absolute;
    top:  22px;
    left: 30px;
    width:  4px;
    height: 4px;
    border: 8px solid white;
    border-radius: 50%; 
    background: #ababab;
    box-shadow: 0 3px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range_controls .min_toggle{
	left: 30px;
}

.range_controls .max_toggle{
	left: 145px;
}


.prise_controls input{
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;

	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300px;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
	white-space: nowrap;
}

.prise_controls .min_price{
	margin-right: 18px;
}

/*----MAP--------------------------------------------------------------------------*/

.map{
	position: relative;
	margin: 0 auto;
	height: 416px;
	background: url(img/map.png) no-repeat scroll;
}

.contacts{
	display: inline-block;
	margin-top: 88px;
	padding: 33px 20px;
	background: #ffffff;
}

.contacts h2{
	margin: 0;
	font-size: 16px;
	line-height: 30px;
}

.contacts .btn{
	width: 195px;
}


/*----FOOTER--------------------------------------------------------------------------*/

.footer:after{
	content: "";
	display: table;
	clear: both;
}

.footer ul{
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 77px;
	margin-bottom: 77px;
	list-style: none;
}

.footer ul li{
	display: inline-block;
	margin-right: 27px;
	opacity: 0.2;
}

.footer ul li:hover{
	opacity: 1;
}

.footer_text{
	display: inline-block;
}